@charset "EUC-KR";

html, body{
	height: 100%;
}

.match {
	height: 90px;
}

.right-section {
	display: inline-block;
	float: right;
}

.left-section {
	display: inline-block;
}

.left-box {
	display: inline-block;
}

.right-box {
	display: inline-block;
	/**border-radius: 6px;**/
	margin-left: 20px;
}

.place {
	font-size: 15px;
}

.status {
	border-radius: 6px;
	background-color: rgb(49, 91, 174);
	width: 80px;
	height: 45px;
	text-align: center;
}

.status-complete{
	border-radius: 6px;
	background-color: rgb(154, 154, 154);
	width: 80px;
	height: 45px;
	text-align: center;
}
.status-success{
	border-radius: 6px;
	background-color: rgb(121, 217, 134);
	width: 80px;
	height: 45px;
	text-align: center;
}
.status-fail{
	border-radius: 6px;
	background-color: rgb(237, 123, 133);
	width: 80px;
	height: 45px;
	text-align: center;
}
.status-text {
	color: white;
}

.date-span {
	font-size: 17px;
	font-weight: bold;
}

.skill-span {
	margin-left: 16px;
}

#fixedbtn{
	position:fixed;
	right:525px;
	bottom:25px;
	z-index:1000;
	width:50px;
}
#placeSearch,#teamSearch{
	display: none;
	margin-bottom: 15px;
	position: sticky;
	top:100px;
	width:870px;
	z-index :10;
	padding-right: 76px;
}
	
#sort{
	padding-bottom: 15px;
	padding-top :20px;
	font-weight: 600;
	position: sticky;
	top:100px;
	background-color: white;
	width: 100%;
	border-bottom: 1px solid #eee;
	width:870px;
	z-index :10;
	height: 55px;
}

#sort:hover{
	cursor: pointer;
}
#map{
	margin-top: 20px;
}
#listBox{
	padding-top:20px;	
}
textarea {
	resize: none;
}
#searchInput{
	position: sticky;
	top:100px;
	margin-top: 14px;
}







