<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.yw.mapper.TeamMapper">
 	<insert id="createTeam">
 		INSERT INTO team(name,members,sport,addr,gender,introduce,representative,img) VALUES(#{name},#{members},#{sport},#{addr},#{gender},#{introduce},#{representative},#{img});
 	</insert>
 	<select id="teamList" resultType="com.yw.vo.TeamVo">
 		SELECT * FROM team;
 	</select>
 	<select id="teamSearch" resultType="com.yw.vo.TeamVo">
 		SELECT * FROM team WHERE name LIKE CONCAT('%', #{name},'%') OR addr LIKE CONCAT('%', #{name},'%');
 	</select>
 </mapper>